body {

    background-image: url("background_image2.jpg");
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}



#mainHeading{
    position: relative;
    top:0;
    left: -5px;
    text-align: center;
    font-size: 65px;
    font-family: Brush Script MT;
    color: white;
    z-index: 1;
}
#subHeading{
    position: relative;
    top: -15px;
    left: -10px;
    text-align: center;
    font-family: Brush Script MT;
    color: white;
    font-size: 40px;
    z-index: 1;
}

.bookDisplay_box{
    background-color: lightyellow;
    background-image: linear-gradient(lightgrey, white);
    opacity: 0.3;
    border: 1px solid white;
    position: relative;
}

#book_elements0 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements1 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements2 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements3 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements4 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements5 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements6 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements7 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements8 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}
#book_elements9 h3, h4{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    top:25%;
    text-align: center; 
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
    cursor: pointer;
    text-decoration:underline;
}

/* selected link */
a:active {
    color: blue;
}
