#mainHeading{
	background-color: #a0dd1a;
	text-align: left;
	font-size: 55px;
	color: white;
}
#subHeading{
  top:-15px;
  text-decoration: underline;
  text-align: center;
  color: darkgreen;
  font-size: 25px;
}
#sub2{
  position: fixed;
  top: 30%;
  left: 60%;
  text-decoration: underline;
  
  color: lightgreen;
  font-size: 25px;
}
#sub3{
  position: fixed;
  top: 40%;
  left: 60%;
  text-decoration: underline;
  
  color: lightgreen;
  font-size: 25px;
}
#sub5{
  position: fixed;
  top: 65%;
  text-align: left;
  text-decoration: underline;
  
  color: lightgreen;
  font-size: 25px;
}
#sub4{
  position: fixed;
  top:70%;
  text-align: left;
  color: black;
  font-size: 25px;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: fixed;
  top: 80%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}
.container1 {
  display: block;
  position: fixed;
  top: 80%;
  left:8%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
}


/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a0dd1a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #a0dd1a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}