body{
  background-image: url("background_image1.jpg");
}

#mainHeading{
    position: absolute;
    top: 0;
    left: 40%;
    text-align: center;
    font-size: 100px;
    font-family: Brush Script MT;
    color: white;
    z-index: 1;
}

    
#subHeading{
    position: absolute;
    top:20%;
    left: 47%;
    font-family: Times New Roman;
    text-decoration: underline;
    color: white;
    font-size: 40px;
    z-index: 1;
}

#page1_info{
    position: relative;
    top: 500px;
    height: 500px;
    background-color: black;
    background-image: linear-gradient(black, white);
    background: radial-gradient(circle, red, yellow, green);
    opacity: 0;
    z-index: 0;
    
}

#sub2{
  position: fixed;
  top: 40%;
  left: 60%;
  text-decoration: underline;
  
  color: lightgreen;
  font-size: 25px;
}
#sub3{
  position: absolute;
  top: 35%;
  left: 32%;
  color: white;
  font-size: 30px;
}
#sub5{
  position: fixed;
  top: 65%;
  text-align: left;
  text-decoration: underline;
  
  color: lightgreen;
  font-size: 25px;
}
#sub4{
  position: fixed;
  top:70%;
  text-align: left;
  color: black;
  font-size: 25px;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: fixed;
  top: 80%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}
.container1 {
  display: block;
  position: fixed;
  top: 80%;
  left:8%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
}


/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a0dd1a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #a0dd1a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#book_image{
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;
  border: 3px solid white;
  width: 300px;
  height: 450px;
}
#book_image img{
  width: 100%;
  height: 100%;
}
